:root {
    --main-color:#343a40;
}


a {
    text-decoration: none !important;
    color: inherit !important;
}


.shoppingCart {
    margin-right: .5em;
}


.home {
    display: flex;
}

.productContainer {
    display: flex;
    width: 80%;
    padding: 1.25em;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Filters */

.filters {
    background-color: var(--main-color);
    color: #fff;
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0.8em;
    height: 86vh;
}

.filters > span {
    padding-bottom: 1.25em;
}

.title {
    font-size: 2em;
}


/* Product */

.products {
    width: 30%;
    margin: 10px;
    border: 1px solid var(--main-color);
  }